
html {
    font-family: sans-serif;

}

body {
    background-color: #EEF4F4;
    padding-top: 70px;
    text-align: center;

}

h1 {
    font-size: 60px;
}

p {
    text-align: center;
}

.row {
    align-content: center;
}

.pizzas {
    align-content: center;
    background-color: #fff;
}

.myheader {
    text-align: center;
}
/*
.trademark {
    font-size: 18px;
    width: 90%;
    bottom: 0;
    align-content: center;
    position: fixed;
    text-align: center;
}*/
.emailField {
    /*width: 50%;*/
    float: right;
}
.passwordField {
    text-align: right;
    padding-top: 5px;
    clear: both;
}
.passwordButton {
    text-align: right;
    clear: both;
}
.userName {
    text-align: center;
    clear: both;
    float: left;
}
.registerBox {
    margin: auto;
    /*text-align: justify;*/
}
.hej {
    font-family: "Arial Black";
    font-size: 50px;
    color: slateblue;
}